.main{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.hero_section{
    background-color: var(--graycolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 144px;
    row-gap: 104px;
}

.hero_content{
    width: 657px;
    gap: 32px;
}

.hero_title{
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.hero_title span{
    color: var(--mainGreen);
}

.hero_subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    font-family: var(--inter-regular);
    padding: 8px 0px 16px 0px;
}

.hero_btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--mainWhite);
    background-color: var(--mainGreen);
    padding: 14px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--inter-semi-bold);
}
.hero_btn:hover{
    background-color: #2d9c2d;
}

.clients_section{
    width: 100%;
    background-color: var(--mainWhite);
    gap: 16px;
    padding: 40px 144px;
}

.clnt_content{
    gap: 8px;
    text-align: center;
}

.clnt_title{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.clnt_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    font-family: var(--inter-regular);
}

.clnt_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 136px;
    margin-top: 16px;
}

.manage_section{
    gap: 16px;
    background-color: var(--mainWhite);
}

.mng_cnt{
    gap: 8px;
    padding: 0px 449px;
    text-align: center;
}

.mng_title{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.mng_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    font-family: var(--inter-regular);
}

.mng_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 127.5px;
    padding: 16px 144px;
}

.mng_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px 16px;
}

.mng_card_title{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
    padding: 16px 0px 8px 0px;
}