.hero{
    display: flex;
    padding: 50px 0px 190px 0px;
}

.hero-content{
    flex-basis:50%;
    padding: 0 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.hero-title{
   font-size: 70px;
   font-family: var(--roboto-bold);
   line-height: 80px;
   font-weight: 700;
   color: var(--text-color);
}

.hero-text{
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color-light);
    font-family: var(--poppins-regular);
}

.btn-hero{
    background-color: var(--mainGreen);
    color: var(--mainWhite);
    font-family: var(--roboto);
    font-size: 18px;
    padding: 20px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

.hero-image{
    flex-basis:50%;
    display: flex;
    justify-content: flex-end;
}

.cards-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-bottom: 190px;
}

.cards-cnt-item{
    align-items: center;
    padding: 0px 273px;
}

.cards-cnt-title{
    font-size: 48px;
    font-weight: 800;
    color: var(--text-color);
    text-align: center;
    line-height: 64px;
}

.card-cnt-txt{
    font-size: 18px;
    color: var(--text-color-light);
    text-align: center;
    line-height: 28px;
    font-weight: 400;
    font-family: var(--roboto);
    padding: 24px 0px 48px 0px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0px 56px;
}

.card{
    background-color: var(--main-white);
    box-shadow: 0px 4px 16px #0000001a;
    border-radius: 8px;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 427px;
    
}

.card-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}


@media screen and (max-width: 1200px) {

    .hero-title{
        font-size: 56px;
        line-height: 64px;
    
}

.hero-text{
    font-size: 20px;
    line-height: 28px;
}

.btn-ham{
    font-size: 16px;
    padding: 16px 20px;
}

.cards-cnt-title{
    font-size: 32px;
    line-height: 44px;
}

.card-cnt-txt{
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0px 32px 0px;
}

.card{
    width: 320px;
    padding: 32px 24px;
    gap: 12px;
}


}




@media screen and (max-width: 900px) {
    .hero{
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            gap: 40px;
        }
    
    .hero-content{
        align-items: center;
        padding: 0 20px;
    }
    
        .hero-title{
            font-size: 36px;
            line-height: 56px;
        }

    .hero-text{
        font-size: 18px;
        line-height: 28px;
    }



    .hero-image{
        justify-content: center;
    }

    .hero-image img{
        width: 50%;
    }


.cards-cnt-title{
    font-size: 32px;
    line-height: 44px;
}

.card-cnt-txt{
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0px 24px 0px;
}

.card{
    width: 320px;
    padding: 32px 24px;
    gap: 12px;
}

.cards-cnt-item{
    padding: 0px 100px;
}

.cards{
    padding: 0px 20px;
    gap: 20px;
}

}



@media screen and (max-width: 600px) {
    .hero-image{
        display: none;
    }

      .hero-title{
        font-size: 24px;
        line-height: 26px;
    }

    .hero-text{
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }

    .btn-hero{
        font-size: 12px;
        padding: 10px 12px;
    }

    .cards-cnt-item{
        padding: 0px 30px;
    }


    .cards-cnt-title{
    font-size: 24px;
    line-height: 44px;
}

.card-cnt-txt{
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0px 24px 0px;
}

    .cards{
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
        gap: 16px;
    }
  }




