.main{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}


/* HERO SECTION */

.hero_section{
    background-color: var(--graycolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 144px;
    row-gap: 104px;
}

.hero_content{
    width: 657px;
    gap: 32px;
}

.hero_title{
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.hero_title span{
    color: var(--mainGreen);
}

.hero_subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    font-family: var(--inter-regular);
    padding: 8px 0px 16px 0px;
}

.hero_btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--mainWhite);
    background-color: var(--mainGreen);
    padding: 14px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--inter-semi-bold);
}
.hero_btn:hover{
    background-color: #2d9c2d;
    transition: all 0.3s ease;
}


/* CLIENTS SECTION */

.clients_section{
    width: 100%;
    background-color: var(--mainWhite);
    gap: 16px;
    padding: 40px 144px;
}

.clnt_content{
    gap: 8px;
    text-align: center;
}

.clnt_title{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.clnt_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    font-family: var(--inter-regular);
}

.clnt_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 136px;
    margin-top: 16px;
}


/* MANAGE SECTION */

.manage_section{
    gap: 16px;
    background-color: var(--mainWhite);
}

.mng_cnt{
    gap: 8px;
    padding: 0px 449px;
    text-align: center;
}

.mng_title{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.mng_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    font-family: var(--inter-regular);
}

.mng_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 127.5px;
    padding: 16px 144px;
}

.mng_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px #ABBED133;
    padding: 24px 16px;
}

.mng_card_title{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
    padding: 16px 0px 8px 0px;
}


/* PIXEL SECTION */

.pixel_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mainWhite);
    padding: 94px 144px 48px 144px;
}

.pxl_content{
    width: 660px;
    padding: 0px 60px;
}

.pxl_title{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.pxl_txt{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color-light);
    padding: 16px 0px 32px 0px;
}

.pxl_btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--mainWhite);
    background-color: var(--mainGreen);
    padding: 14px 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--inter-semi-bold);
}

.pxl_btn:hover{
    background-color: #2d9c2d;
    transition: all 0.3s ease;
}


/* BUSINNES SECTION */

.businnes_section{
    background-color: var(--graycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 144px;
    gap: 72px;
}

.businnes_content_title{
    width: 408px;
    font-size: 36px;
    font-weight: 600;
    font-family: var(--inter-semi-bold);
    line-height: 44px;
    color: var(--text-color);
}

.businnes_content_title span {
  color: var(--mainGreen);
}

.businnes_content_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #18191F;

}

.businnes_elements{
    display: flex;
    align-items: center;
    gap: 30px;
}

.bsn_item{
    display: flex;
    gap: 16px;
}

.bsn_item_left, 
.bsn_item_right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bsn_txt{
    padding-right: 20px;
}

.bsn_item_title{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.bsn_item_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
}

/* DESIGN SECTION */

.design_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 144px;
    gap: 50px;
    padding: 48px 0;
    background-color: var(--mainWhite);
}

.dsn_title{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.dsn_content{
    width: 661px;
    /* padding: 0px 60px; */
}

.dsn_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    padding: 16px 0 32px 0;
}

.dsn_btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--mainWhite);
    background-color: var(--mainGreen);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dsn_btn:hover{
    background-color: #2d9c2d;
    transition: all 0.3s ease;
}

/* Tesla section */

.tesla_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 144px;
    gap: 78px;
    background-color: var(--graycolor);
}

.tesla_content{
    width: 748px;
}


.tesla.txt{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color-light);
}

.tesla_title{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--mainGreen);
    font-family: var(--inter-semi-bold);
    padding: 16px 0 8px 0;
    display: block;
}

.tesla_auth{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #89939E;
}

.marketing{
    padding: 48px 144px;
    text-align: center;
    background-color: var(--mainWhite);
    
}

.mrkt_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.mrkt_title{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--text-color);
    font-family: var(--inter-semi-bold);
}

.mrkt_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-light);
    width: 628px;
}

.mrkt_cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin:  16px 0 95px 0;
}


.mrkt_card{
    box-shadow: 0px 4px 12px #ABBED133;
    position: relative;
}

.card_cont{
    position:absolute;
    bottom: -82px;
    left: 23px;
    background-color: var(--graycolor);
    padding: 16px 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px #ABBED133;
    width: 320px;
    height: 180px;
}

.card_txt{
    font-family: var(--inter-semi-bold);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--text-color-light);
    margin: 0 auto;
    width: 285px;
    padding-bottom: 16px;
}

.readmore{
    font-family: var(--inter-semi-bold);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--mainGreen);
}

/* FUTURE SECTION */
.future_section{
    background-color: var(--graycolor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 277px;
}
.future_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.future_title{
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    color: var(--footercolor);
    font-family: var(--inter-semi-bold);
    text-align: center;
}

.future_btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--mainWhite);
    background-color: var(--mainGreen);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--inter-semi-bold);
}

.future_btn:hover{
    background-color: #2d9c2d;
    transition: all 0.3s ease;
}